.headercustom{text-align: center;}

.headercustom{color: rgb(255, 255, 255);}

.headercustom{font-family: fantasy;}


.p1{font-family: 'Times New Roman', Times, serif;}

.p1{font-size: small;}

.p1{text-align: right;}

.p1{color: cyan;}


.ullist{text-align: center;}

.ullist{list-style-position: inside;}


.center{
    text-align: center;
  }


  #P1{color: blue;}

  .date{color: blue;}





  ::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: rgb(253, 226, 226); padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }