.headercustom{text-align: center;}

.headercustom{color: rgb(255, 255, 255);}

.headercustom{font-family: fantasy;}


.p1{font-family: 'Times New Roman', Times, serif;}

.p1{font-size: small;}

.p1{text-align: right;}

.p1{color: cyan;}


.ullist{text-align: center;}

.ullist{list-style-position: inside;}

